body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
body{
  background-image: url(https://st3.depositphotos.com/2703645/17831/v/450/depositphotos_178310716-stock-illustration-burger-pizza-hot-dog-isolated.jpg);
  background-repeat: no-repeat;
  background-position: top 30px left 50%;
}